.wrapper{
    width: 70%;
    margin: 0 auto;
    background-color: antiquewhite;
    padding:0 2rem 1rem 2rem;
}
h1{
    margin: 0;
    margin-bottom: 1rem;
}
body{
    margin: 0;
}
label{
    display: block;
    margin: 0.3rem 0;
}
fieldset{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem ;
}
legend{
    font-size: 1.3rem;
    font-weight: bold;
}
input{
    font-family: 'Times New Roman', Times, serif;
}
input[type="tel"],
input[type="date"],
input[type="text"]{
    height: 1.3rem;
    border-radius: 10px;
    border: 1px solid gray;
}
input[type="text"]{
    width: 50%;
}
button{
    height: 2rem;
    border: 1px solid grey;
    border-radius: 10px;
}
button:hover{
    background-color: brown;
    color: white;
}
select{
    width: 8%;
    border-radius: 8px;
}