@font-face {
    font-family: fuenteParrafo;
    src: url(Paprika-Regular.ttf);
}

@font-face {
    font-family: fuenteTitulo;
    src: url(Paprika-Regular.ttf);
}
body{
    background-color: #f1f1f1;
    font-family: mifuente;
}
.cuadro{
    border: 5px solid brown;
    padding: 0 2em;
    margin: 0 20%;
}
img {
    border: 2px solid #42352c;
    border-radius: 15px;
}
p{
    font-family: fuenteParrafo;
    line-height: 1.5em;
    font-size: 15px;
    border: 0px dotted blue;
    font-family: fuenteParrafo;
    padding: 0 2em 1em 1em;
    margin: 0;
}
img{
    border: 2px solid  green;
}
.resaltar{
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
}
h1,h2 {  
    font-size: 30px;    
    font-family: fuenteTitulo;
    color: green;
    border: 0 solid blue;
    margin-bottom: .5em;
}
h2{
    font-size: 20px; 
}
/*
    comentario
    codigo de la pagina https://frontendmasters.github.io/bootcamp/
*/
/*
.lesson-title {
    font-size: 32px;  
    font-family: PosterizerKGRough,Courier New,Courier,monospace;
    color: #2c2825;
}*/

/*
h2{
    font-family: PosterizerKGRough,Courier New,Courier,monospace;
}*/