body{
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
    color: purple;
}
img{
    border: 2px solid  green;
}
.resaltar{
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
}
h1 { 
    width: 500px; 
    position:sticky; 
    left: 20px; 
    line-height: 60px; 
    font-size: 50px; 
    font-weight: 100; 
    margin: 20px 0 0 0; 
    text-shadow: 0 1px 0 #f1f1f1; 
}